@model System.Collections.Generic.List<SpanyolMVC.Models.ViewModels.UserRolesViewModel>

@{
    ViewData["Title"] = "User Roles";
    int nextPage = Convert.ToInt32(ViewBag.PageNumber) + 1;
    int prevPage = Convert.ToInt32(ViewBag.PageNumber) - 1;
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Manage Users</h1>
    </div>
</div>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success mb-3" id="successMessage">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger mb-3" id="errorMessage">
        @TempData["ErrorMessage"]
    </div>
}

<!-- Keresési űrlap -->
<form method="get" asp-controller="Admin" asp-action="Index">
    <div class="container mt-5">
        <div class="row">
            <div class="col col-md-4 d-flex">
                <input type="text" class="form-control" name="searchQuery" value="@ViewBag.SearchQuery" placeholder="Search by email..." />
                <button type="submit" class="btn btn-warning ms-3">Search</button>
            </div>
        </div>
    </div>
</form>



<div class="container mt-3">
    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead>
            <tr>
                <th>Email 
                    <span>
                        <a class="btn btn-light"
                           asp-controller="Admin"
                           asp-action="Index"
                           asp-route-sortBy="Email"
                           asp-route-sortDirection="Asc"
                           asp-route-searchQuery="@ViewBag.SearchQuery">
                            <i class="bi bi-arrow-up"></i>
                        </a>
                        <a class="btn btn-light"
                           asp-controller="Admin"
                           asp-action="Index"
                           asp-route-sortBy="Email"
                           asp-route-sortDirection="Desc"
                           asp-route-searchQuery="@ViewBag.SearchQuery">
                            <i class="bi bi-arrow-down"></i>
                        </a>
                    </span></th>
                <th>
                    Roles
                </th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Email</td>
                    <td>@string.Join(", ", user.Roles)</td>
                    <td>
                        <a asp-action="Manage" asp-route-userId="@user.UserId" class="btn btn-dark">Manage Roles</a>
                        <form asp-action="Delete" method="post" style="display:inline;">
                            <input type="hidden" name="userId" value="@user.UserId" />
                            <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this user?');">Delete</button>
                        </form>
                    </td>
                </tr>
            }
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link text-dark"
                       asp-controller="Admin"
                       asp-action="Index"
                       asp-route-pageNumber="@prevPage"
                       asp-route-pageSize="@ViewBag.PageSize"
                       asp-route-sortBy="@ViewBag.SortBy"
                       asp-route-sortDirection="@ViewBag.SortDirection">
                        Previous
                    </a>
                </li>

                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    <li class="page-item">
                        <a class="page-link text-dark"
                           asp-controller="Admin"
                           asp-action="Index"
                           asp-route-pageNumber="@i"
                           asp-route-pageSize="@ViewBag.PageSize"
                           asp-route-sortBy="@ViewBag.SortBy"
                           asp-route-sortDirection="@ViewBag.SortDirection">
                            @i
                        </a>
                    </li>
                }

                <li class="page-item">
                    <a class="page-link text-dark"
                       asp-controller="Admin"
                       asp-action="Index"
                       asp-route-pageNumber="@nextPage"
                       asp-route-pageSize="@ViewBag.PageSize"
                       asp-route-sortBy="@ViewBag.SortBy"
                       asp-route-sortDirection="@ViewBag.SortDirection">
                        Next
                    </a>
                </li>
            </ul>
        </nav>
    }
    else
    {
        <p>No users found!</p>
    }
</div>

@section Scripts {
    <script>
        setTimeout(function() {
            var successMessage = document.getElementById('successMessage');
            if (successMessage) {
                successMessage.style.display = 'none';
            }

            var errorMessage = document.getElementById('errorMessage');
            if (errorMessage) {
                errorMessage.style.display = 'none';
            }
        }, 10000); // 10 seconds
    </script>
}