@model IEnumerable<SpanyolMVC.Models.Domain.Words>

@{
    ViewData["Title"] = "Show All Words";
    int nextPage = Convert.ToInt32(ViewBag.PageNumber) + 1;
    int prevPage = Convert.ToInt32(ViewBag.PageNumber) - 1;
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Show All Words - Admin Functionality</h1>
    </div>
</div>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success mb-3" id="successMessage">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger mb-3" id="errorMessage">
        @TempData["ErrorMessage"]
    </div>
}


<form method="get" asp-controller="Words" asp-action="List">
    <div class="container mt-5">
        <div class="row">
            <div class="col col-md-4 d-flex">
                <input type="text" class="form-control" name="searchQuery" value="@ViewBag.SearchQuery" placeholder="Search by word..." />
                <button type="submit" class="btn btn-warning ms-3">Search</button>
            </div>
        </div>
    </div>
</form>




<div class="container py-5">
    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead>
            <tr>
                <th>Hungarian</th>
                <th>English</th>
                <th>Italian</th>
                <th>French</th>
                <th>German</th>
                <th>Infinitive</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var word in Model)
            {
                <tr>
                    <td>@word.Hungarian</td>
                    <td>@word.English</td>
                    <td>@word.Italian</td>
                    <td>@word.French</td>
                    <td>@word.German</td>
                    <td>@word.Infinitive</td>
                    <td>
                        <a asp-area="" asp-controller="Words" asp-action="Edit" asp-route-id="@word.Id" class="btn btn-dark">Edit</a>
                        <form method="post" asp-action="DeleteFromList" asp-route-id="@word.Id" class="d-inline">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            }
            </tbody>
        </table>

        <!-- Lapozó -->
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link text-dark"
                       asp-controller="Words"
                       asp-action="List"
                       asp-route-pageNumber="@prevPage"
                       asp-route-pageSize="@ViewBag.PageSize"
                       asp-route-searchQuery="@ViewBag.SearchQuery">
                        Previous
                    </a>
                </li>

                @for (int i = 1; i <= ViewBag.TotalPages; i++)
                {
                    <li class="page-item">
                        <a class="page-link text-dark"
                           asp-controller="Words"
                           asp-action="List"
                           asp-route-pageNumber="@i"
                           asp-route-pageSize="@ViewBag.PageSize"
                           asp-route-searchQuery="@ViewBag.SearchQuery">
                            @i
                        </a>
                    </li>
                }

                <li class="page-item">
                    <a class="page-link text-dark"
                       asp-controller="Words"
                       asp-action="List"
                       asp-route-pageNumber="@nextPage"
                       asp-route-pageSize="@ViewBag.PageSize"
                       asp-route-searchQuery="@ViewBag.SearchQuery">
                        Next
                    </a>
                </li>
            </ul>
        </nav>
    }
    else
    {
        <p>No Words found</p>
    }
</div>

@section Scripts {
    <script>
        setTimeout(function() {
            var successMessage = document.getElementById('successMessage');
            if (successMessage) {
                successMessage.style.display = 'none';
            }

            var errorMessage = document.getElementById('errorMessage');
            if (errorMessage) {
                errorMessage.style.display = 'none';
            }
        }, 10000); // 10 seconds
    </script>
}