@model System.Collections.Generic.IEnumerable<SpanyolMVC.Models.Domain.Words>

@{
    ViewData["Title"] = "Show All Words";
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Show All Words - Admin Functionality</h1>
    </div>
</div>

<div class="container py-5">
    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead>
            <tr>
                <th>Hungarian</th>
                <th>English</th>
                <th>Italian</th>
                <th>French</th>
                <th>German</th>
                <th>Infinitive</th>
                <th>Actions</th>

            </tr>
            </thead>
            <tbody>
            @foreach (var word in Model)
            {
                <tr>
                    <td>@word.Hungarian</td>
                    <td>@word.English</td>
                    <td>@word.Italian</td>
                    <td>@word.French</td>
                    <td>@word.German</td>
                    <td>@word.Infinitive</td>

                    <td>
                        <a asp-area=""
                           asp-controller="Words"
                           asp-action="Edit"
                           asp-route-id="@word.Id" class="btn btn-dark" >Edit</a>

                        <form method="post" asp-action="DeleteFromList" asp-route-id="@word.Id" class="d-inline">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>

                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <p>No Words found</p>
    }
</div>